# Python venv
venv/
.venv/
.env
*.env
# Data folders
data/
data/uploads/
data/vector_store/
db/
data/
# Secrets
*.sqlite3
*.key
*.pem
# __pycache__ and temp files
__pycache__/
*.pyc
*.pyo
*.log
# OS files
.DS_Store
.cursor/
.github/
docs/
core/__pycache__/


