# === Agent + LLM Tools ===
# aisuite==0.1.11
# anthropic
docstring-parser
markdown
# mistralai
# openai
# qrcode
tavily-python>=0.7.12
textstat
# vertexai

streamlit
ollama
chromadb==0.4.24
protobuf==4.25.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0

pypdf
pytesseract
pdf2image
pillow
# SpeechRecognition 
# pyaudio
# gTTS
tiktoken 
nltk
google-genai
requests
python-dotenv
sentence-transformers


# === Web Framework + API ===
fastapi
pydantic
pydantic[email]
python-dotenv
python-multipart
requests
sqlalchemy
# uvicorn

# === Notebook Experience ===
ipywidgets
jupyter_server
nbclassic
notebook

# === Data Analysis / Display (Optional Enhancements) ===
duckdb
matplotlib
pandas
seaborn
tabulate
tinydb

# === Machine Learning / NLP (Optional Enhancements) ===
# jinja2
# psycopg2-binary
# scikit-learn
# Wikipedia
